body {
    background: #0f1115;
    color: #fff  !important;
}

.sidebar {
    height: 100vh;
    background: #111418;
    border-right: 1px solid #222;
}

.sidebar .nav-link {
    color: #aaa;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background: #0d6efd;
    color: #fff;
}

.card-dark {
    background: #181c22;
    border: 1px solid #222;
    border-radius: 12px;
}

.page-title {
    font-weight: 600;
}

.hero {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    border-radius: 12px;
    padding: 30px;
}

.nav-card {
    background: #181c22;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 20px;
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
}

.nav-card:hover {
    border-color: #0d6efd;
    transform: translateY(-3px);
}

.p{
    color: white !important;
}

.box {
    background: #1e293b; /* dark card background */
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    min-height: 200px;
}

/* Optional spacing between columns */
.row > div {
    margin-bottom: 15px;
}



